@import url('http://fonts.cdnfonts.com/css/avenir-next-cyr');
@import "normalize";
@import "variables";
@import "mixins";
@import "container";
@import "title";
@import "step";
@import "header";
@import "participate";
@import "social-networks";
@import "promo-code";
@import "allotted-time";
@import "footer";

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  font-family: 'Avenir Next Cyr', sans-serif;
  overflow-x: hidden;
  color: $oxford-blue;
}

